bin/
obj/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

.idea/
*.DotSettings.user

*.log

publish/
*.publish/


.DS_Store
Thumbs.db

TestResults/
*.coverage
*.coveragexml

*.nupkg
*.snupkg
packages/

appsettings.*.Local.json
appsettings.Development.json
secrets.json

*.pdb
*.dll
*.exe
*.cache.json

*.swp
*.tmp